* {
  font-family: arial;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.addNote,
.currentNote {
  display: flex;
  flex-direction: column;
  width: calc(100% / 6 - 1rem);
  margin: 5px;
  height: 100px;
  border: 1px dodgerblue solid;
  border-radius: 5px;
  background-color: dodgerblue;
  color: white;
}

.newNote,
.editNote,
.noteText {
  height: 100%;
}

.noteText {
  margin: 0px;
  padding: 5px;
  overflow-y: auto;
}

textarea {
  resize: none;
}

.selected {
  border: 1px red solid;
  color: black;
  background-color: yellow;
}

.buttonContainer {
  display: flex;
  justify-content: space-around;
}

.button {
  border-radius: 5px;
}

.button.edit {
  background-color: green;
}

.button.delete {
  background-color: red;
}
